body * {
	border: 1px solid white;
	opacity: 1;
	font-size: 29px;
}

h1 {
	margin: auto;
	border: 0px;
}

.parallaxGray {
	background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
			rgba(0, 0, 0, 0.55),
			rgba(0, 0, 0, 0.85)
		),
		/* bottom, image */ url(assets/smalltile.png);
	min-height: 500px;
	background-attachment: fixed;
	/* background-position: center; */
	background-repeat: repeat;
	/* background-size: cover; */
}

.intro {
	background: rgba(150, 150, 150, 1);
	font-size: 1.5rem;
	margin: auto;
	margin-top: 100px;
	width: 700px;
	border: none;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	padding: 0;
	box-sizing: border-box;
}

.introText {
	border: none;
	padding: 10px;
	font-size: 1.5rem;
}

.navigation {
	border: none;
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: stretch;
	height: 75px;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 1;
}

.navLink {
	border: none;
	margin: 0 20px;
	width: 150px;
	background: rgba(35, 35, 35, 1);
	text-align: center;
}

.navLink:hover {
	background: rgba(100, 100, 100, 1);
	cursor: pointer;
}

.navLinkSelected {
	background: rgba(100, 100, 100, 1);
}

.projectLinks {
	text-decoration: none;
	margin: 25px;
	background-color: white;
	margin: auto;
	color: black;
	width: 705px;
	text-align: center;
	font-size: 17px;
}

a {
	text-decoration: none;
	background-color: white;
	color: black;
	font-size: 17px;
	border: none;
}

.aboutLink {
	border: 1px solid white;
	opacity: 1;
	font-size: 1.5rem;
	background: rgba(150, 150, 150, 1);
	border: none;
}

.projectSelector {
	border: 1px solid white;
	background: hsla(146, 62%, 95%, 1);
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	padding: 0;
	height: 604px;
	width: 706px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	border: 0;
}

.about {
	background: rgba(150, 150, 150, 1);
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	margin-bottom: 1000px;
	padding: 0;
	height: 400px;
	width: 706px;
}

.void {
	width: 98%;
	height: 1000px;
	opacity: 0;
}

.toTinySquare {
	animation: kfToTinySquare 350ms;
	animation-fill-mode: forwards;
}

.toFullSquare {
	animation: kfToFullSquare 350ms;
	animation-fill-mode: forwards;
}

.toFlatRectangle {
	animation: kfToFlatRectangle 350ms;
	animation-fill-mode: forwards;
}

.toTallRectangle {
	animation: kfToTallRectangle 350ms;
	animation-fill-mode: forwards;
}

.whiteText {
	height: 100%;
	width: 100%;
	margin: auto;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #000000;
}

.blackText {
	height: 100%;
	width: 100%;
	margin: auto;
	pointer-events: none;
	background-color: rgba(255, 255, 255, 0.75);
	color: black;
	opacity: 1;
	border: 0;
}

.paperclip1 {
	background-image: url('assets/paperclip.png');
}

.paperclip1Text {
	padding-top: 150px;
}

.paperclip2 {
	background-image: url('assets/paperclipData.png');
}

.paperclip2Text {
	height: 40%;
	top: 10%;
	-ms-transform: translateY(75%);
	transform: translateY(75%);
}

.paperclip3 {
	background-image: url('assets/paperclipCycle.png');
}

.paperclip3Text {
	width: 80%;
	padding-top: 75px;
	text-align: left;
}

.paperclip4 {
	background-image: url('assets/paperclipCRUD.png');
}

.paperclip4Text {
	height: 100%;
	width: 80%;
	padding-top: 90px;
}

.statements1 {
	background-image: url('assets/statements.png');
}

.statements1Text {
	margin-top: 80px;
	background-color: rgba(255, 255, 255, 0.25);
}

.statements2 {
	background-image: url('assets/statementsData.png');
	background-repeat: no-repeat;
	background-color: white;
	text-align: left;
}

.statements2Text {
	margin-top: 50px;
	margin-left: 10px;
	width: 50%;
	height: 165px;
}

.statements3 {
	background-image: url('assets/statementsIncome.png');
}

.statements3Text {
	margin-top: 100px;
	height: 300px;
	width: 80%;
	background-color: rgba(255, 255, 255, 0.95);
}

.statements4 {
	background-image: url('assets/statementsCRUD.png');
	background-repeat: no-repeat;
	background-color: white;
}

.statements4Text {
	background-repeat: no-repeat;
	margin-top: 70px;
	height: 100px;
}

.ravencoin1 {
	background-image: url('assets/ravencoin.png');
}

.ravencoin1Text {
	margin-top: 100px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.75);
}

.ravencoin2 {
	background-image: url('assets/ravencoinBlock.png');
}

.ravencoin2Text {
	width: 100%;
	margin: auto;
	pointer-events: none;
	top: 10%;
	-ms-transform: translateY(75%);
	transform: translateY(75%);
	background-color: rgba(255, 255, 255, 0.75);
	color: black;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #ffffff;
}

.ravencoin3 {
	background-image: url('assets/ravencoinSearch.png');
}

.ravencoin3Text {
	margin-top: 200px;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.75);
}

.ravencoin4 {
	background-image: url('assets/ravencoinTransaction.png');
}

.ravencoin4Text {
	margin-top: 200px;
	height: 75px;
	background-color: rgba(255, 255, 255, 0.75);
}

.flashcards1 {
	background-image: url('assets/flashcards.png');
}

.flashcards1Text {
	margin-top: 150px;
	height: 175px;
}

.flashcards2 {
	background-image: url('assets/flashcardsScore.png');
}

.flashcards2Text {
	margin-top: 225px;
	height: 125px;
}

.flashcards3 {
	background-image: url('assets/flashcardsCRUD.png');
}

.flashcards3Text {
	margin-top: 125px;
	height: 225px;
}

.flashcards4 {
	background-image: url('assets/flashcardsAdjustableAlgo.png');
}

.flashcards4Text {
	margin-top: 125px;
	height: 125px;
}

.fullSquare {
	width: 630px;
	height: 540px;
	opacity: 0.8;
}

.tallRectangle {
	width: 70px;
	height: 540px;
}

.flatRectangle {
	width: 630px;
	height: 60px;
}

.tinySquare {
	width: 70px;
	height: 60px;
}

.notFullSquare > div {
	opacity: 0;
}

@keyframes kfToTinySquare {
	100% {
		width: 70px;
		height: 60px;
	}
}

@keyframes kfToFullSquare {
	100% {
		width: 630px;
		height: 540px;
	}
}

@keyframes kfToFlatRectangle {
	100% {
		width: 630px;
		height: 60px;
	}
}

@keyframes kfToTallRectangle {
	100% {
		width: 70px;
		height: 540px;
	}
}

/* @media (min-width: 600px) {
	body {
		grid-template-rows: 3fr 1fr;
		grid-template-columns: 3fr 1fr;
	}
	.AA {
		grid-row: 1;
		grid-column: 1;
	}
	.AB {
		grid-row: 2;
		grid-column: 1;
	}
	.BA {
		grid-row: 1;
		grid-column: 2;
	}
	.BB {
		grid-row: 2 / span 2;
		grid-column: 2 / span 2;
	}
} */
