body * {
	background: lightgrey;
	border: 1px solid white;
	opacity: 1;
}

h1 {
	margin: auto;
}

.parallax {
	/* The image used */
	background-image: url('nano-home-bg-tiny.jpg');

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro {
	background: hsla(146, 62%, 95%, 1);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	height: 400px;
	width: 700px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.projectLinks {
	text-decoration: none;
	margin: 25px;
	background-color: white;
	margin: auto;
	color: black;
	width: 705px;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: white;
	color: black;
}

.projectSelector {
	background: hsla(146, 62%, 95%, 1);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	padding: 0;
	height: 604px;
	width: 706px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	border: 0;
}

.about {
	background: hsla(146, 62%, 95%, 1);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	margin-bottom: 500px;
	padding: 0;
	height: 600px;
	width: 706px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.void {
	width: 98%;
	height: 1000px;
	opacity: 0;
}

.fullSquare {
	width: 630px;
	height: 540px;
}

.tallRectangle {
	width: 70px;
	height: 540px;
}

.flatRectangle {
	width: 630px;
	height: 60px;
}

.tinySquare {
	width: 70px;
	height: 60px;
}

.notFullSquare > div {
	opacity: 0;
}

.toTinySquare {
	animation: kfToTinySquare 350ms;
	animation-fill-mode: forwards;
}

.toFullSquare {
	animation: kfToFullSquare 350ms;
	animation-fill-mode: forwards;
}

.toFlatRectangle {
	animation: kfToFlatRectangle 350ms;
	animation-fill-mode: forwards;
}

.toTallRectangle {
	animation: kfToTallRectangle 350ms;
	animation-fill-mode: forwards;
}

.paperclip1 {
	background-image: url('assets/paperclip.png');
}

.paperclip1Text {
	height: 100%;
	width: 100%;
	margin: auto;
	pointer-events: none;
	padding-top: 150px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #000000;
}

.paperclip2 {
	background-image: url('assets/paperclipData.png');
}

.paperclip2Text {
	width: 100%;
	margin: auto;
	pointer-events: none;
	top: 10%;
	-ms-transform: translateY(75%);
	transform: translateY(75%);
	background-color: rgba(255, 255, 255, 0.75);
	color: black;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #ffffff;
}

.paperclip3 {
	background-image: url('assets/paperclipCycle.png');
}

.paperclip3Text {
	height: 100%;
	width: 80%;
	padding-top: 75px;
	margin: auto;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #000000;
	text-align: left;
}

.paperclip4 {
	background-image: url('assets/paperclipCRUD.png');
}

.paperclip4Text {
	height: 100%;
	width: 80%;
	padding-top: 90px;
	margin: auto;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	opacity: 1;
	border: 0;
	text-shadow: 1px 1px #000000;
	text-align: left;
}

@keyframes kfToTinySquare {
	100% {
		width: 70px;
		height: 60px;
	}
}

@keyframes kfToFullSquare {
	100% {
		width: 630px;
		height: 540px;
	}
}

@keyframes kfToFlatRectangle {
	100% {
		width: 630px;
		height: 60px;
	}
}

@keyframes kfToTallRectangle {
	100% {
		width: 70px;
		height: 540px;
	}
}

/* @media (min-width: 600px) {
	body {
		grid-template-rows: 3fr 1fr;
		grid-template-columns: 3fr 1fr;
	}
	.AA {
		grid-row: 1;
		grid-column: 1;
	}
	.AB {
		grid-row: 2;
		grid-column: 1;
	}
	.BA {
		grid-row: 1;
		grid-column: 2;
	}
	.BB {
		grid-row: 2 / span 2;
		grid-column: 2 / span 2;
	}
} */
