body * {
	background: lightgrey;
	border: 1px solid lightslategrey;
}

.parallax {
	/* The image used */
	background-image: url('nano-home-bg-tiny.jpg');

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.projectSelector {
	background: hsla(146, 62%, 95%, 1);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 600px;
	width: 706px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}

.fullSquare {
	width: 630px;
	height: 540px;
}

.tallRectangle {
	width: 70px;
	height: 540px;
}

.flatRectangle {
	width: 630px;
	height: 60px;
}

.tinySquare {
	width: 70px;
	height: 60px;
}

.toTinySquare {
	animation: kfToTinySquare 350ms;
	animation-fill-mode: forwards;
}

.toFullSquare {
	animation: kfToFullSquare 350ms;
	animation-fill-mode: forwards;
}

.toFlatRectangle {
	animation: kfToFlatRectangle 350ms;
	animation-fill-mode: forwards;
}

.toTallRectangle {
	animation: kfToTallRectangle 350ms;
	animation-fill-mode: forwards;
}

@keyframes kfToTinySquare {
	100% {
		width: 70px;
		height: 60px;
	}
}

@keyframes kfToFullSquare {
	100% {
		width: 630px;
		height: 540px;
	}
}

@keyframes kfToFlatRectangle {
	100% {
		width: 630px;
		height: 60px;
	}
}

@keyframes kfToTallRectangle {
	100% {
		width: 70px;
		height: 540px;
	}
}

/* @media (min-width: 600px) {
	body {
		grid-template-rows: 3fr 1fr;
		grid-template-columns: 3fr 1fr;
	}
	.AA {
		grid-row: 1;
		grid-column: 1;
	}
	.AB {
		grid-row: 2;
		grid-column: 1;
	}
	.BA {
		grid-row: 1;
		grid-column: 2;
	}
	.BB {
		grid-row: 2 / span 2;
		grid-column: 2 / span 2;
	}
} */
